@font-face {
  font-family: 'MonumentExtended';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/MonumentExtended-Ultrabold.otf');
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'MonumentExtended', 'Rubik', sans-serif;
  overflow-x: hidden;
  background: #0c0c0c;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.05);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.15);
}

a {
  color: inherit;
  text-decoration: none;
}
:root {
  --bg-dark: #222222;
  --bg-lightdark: #373943;
  --text-light: #ebf8ff;
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.ant-modal-content {
  background-color: #373943 !important;
  border-radius: 14px !important;
}
.ant-drawer-content {
  background-color: #373943 !important;
}
@media screen and (max-width: 760px) {
  /* .ant-drawer-content {
    width: 90% !important;
    background: red;
    margin-left: 50px !important;
  } */
}
.ant-drawer-header {
  display: none !important;
}
.ant-drawer-mask {
  background-color: rgba(0, 0, 0, 0.8) !important;
}
.ant-dropdown {
  width: 200px !important;
  transition: all 0.3s ease-in !important;
}
.ant-dropdown-menu {
  background-color: var(--bg-lightdark) !important;
  border-radius: 10px !important;
}
.ant-dropdown-menu-item {
  padding: 10px 20px !important;
}

.ant-dropdown-menu-item:hover {
  background: var(--bg-dark) !important;
}
.ant-dropdown-menu-item-divider {
  background-color: rgba(0, 0, 0, 0.2) !important;
}
.ant-dropdown-arrow {
  background: transparent !important;
}
.ant-dropdown-arrow::before {
  background: var(--bg-lightdark) !important;
}
.ant-table {
  background: transparent !important;
}

.ant-table-thead > tr > th {
  background: transparent !important;
  border-bottom: none !important;
  color: #ccc !important;
}
.ant-table-row {
  color: #ccc !important;
}
.ant-table-cell-row-hover {
  background: #373943 !important;
}
.ant-table-tbody > tr > td {
  border-bottom: none !important;
}
.select__chain__wrap {
  background: rgba(0, 0, 0, 0.3);
}
.notification {
  width: 250px !important;
}
.notification .ant-dropdown-menu {
  height: 300px !important;
  overflow-y: scroll !important;
}
.notification__icon {
  background: #000;
  border: 1px solid #105dcf;
  padding: 10px;
  border-radius: 50%;
}
.notification__text {
  font-size: 0.7rem;
}
.notification .ant-dropdown-menu-item:nth-child(even) {
  background: var(--bg-dark) !important;
}
.listItem {
  display: flex !important;
  color: var(--text-light) !important;
  align-items: center;
  gap: 10px;
  padding: 5px 0;
}
.icon {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.6);
  display: flex;
}
.text {
  color: rgba(255, 255, 255, 0.6);
}

.wallet__body {
  padding: 10px 10px !important;
}
.wallet__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wallet__setting {
  display: flex;
  align-items: center;
  gap: 7px;
  color: #ebf8ff;
}
.wallet__icon {
  display: flex;
  background-color: #ebf8ff;
  border-radius: 50%;
  padding: 3px;
  border: 1px solid #105dcf;
}
.wallet__setting__title {
  color: #ebf8ff;
  font-size: 0.8rem;
}
.wallet__icon img {
  width: 30px !important;
  height: 30px !important;
  object-fit: contain !important;
}
.wallet__connected__account {
  display: flex;
  align-items: center;
  gap: 5px;
}
.chain__logo {
  display: flex;
  color: #ebf8ff;
  background-color: #ebf8ff;
  border-radius: 50%;
  padding: 3px;
}
.chain__id {
  color: #ebf8ff;
  font-weight: 600;
  margin-right: 5px;
}
.wallet__content {
  margin: 20px 0;
}
.wallet__balance {
  background-color: var(--bg-dark);
  padding: 20px 30px;
  border-radius: 8px 8px 0px 0px;
}
.wallet__balance {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.wallet__balance__heading {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.9rem;
}
.wallet__balance__amt {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 600;
}
.wallet__balance__btn {
  background: #5c95ff;
  border-radius: 0px 0px 8px 8px;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  color: #fff;
}
.btn__text {
  font-weight: 600;
}
.wallet__balance__btn .icon {
  display: flex;
  color: #fff !important;
}
.wallet__accounts {
  background-color: var(--bg-dark);
  border-radius: 8px;
  height: 300px;
  overflow-y: scroll;
  padding: 20px;
}
.wallet__account__container {
  display: flex;
  width: 100%;
}
.wallet__account__container:nth-child(1) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 10px;
}
.wallet__account__container:nth-child(even) {
  padding-top: 10px;
}
.wallet__account__balance {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.account__balance__info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.wallet__account__logo {
  background: #ebf8ff;
  display: flex;
  padding: 5px;
  border-radius: 50%;
}
.wallet__account__logo img {
  width: 30px !important;
  object-fit: contain !important;
  height: 30px !important;
}
.wallet__account__info {
  display: flex;
  flex-direction: column;
}
.chain__name {
  margin-bottom: -5px;
  font-size: 1rem;
  font-weight: 800;
  color: #ebf8ff;
}
.source__account {
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.8);
}
.account__balance__info__right {
  display: flex;
  flex-direction: column;
  text-align: right;
}
.chain__name__amount {
  font-size: 1rem;
  font-weight: 600;
  color: #ebf8ff;
}
.source__account__amount {
  font-size: 0.7rem;
  color: #ebf8ff;
}
.ant-modal-close {
  color: rgba(255, 255, 255, 0.4) !important;
  transition: all 0.3s ease-in;
}
.ant-modal-close:hover {
  color: rgba(255, 255, 255, 0.9) !important;
}
.ant-modal-footer,
.ant-modal-header {
  display: none !important;
}

.connect__wallet__heading {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.connect__wallet__heading span {
  display: flex;
  align-items: center;
}
.connect__wallet__heading span:first-child {
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 5px;
  border-radius: 50%;
}
.connect__wallet__heading span:last-child {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2px;
  color: rgba(255, 255, 255, 1);
}
.connect__wallet__body {
  padding: 20px 0;
}
.connect__wallet__text {
  color: rgba(255, 255, 255, 0.4);
  font-size: 1rem;
  line-height: 1.2rem;
}
.tooltip {
  font-weight: 800;
  color: #fff;
  cursor: pointer;
}

.connect__wallet__provider {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.wallet__provider {
  display: flex;
  gap: 10px;
  width: 100%;
  align-items: center;
  cursor: pointer;
  padding: 10px 20px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
.wallet__provider:hover {
  background: rgba(0, 0, 0, 0.1);
}
.wallet__provider:hover > .provider__name {
  color: rgba(255, 255, 255, 0.4);
}
.wallet__provider:nth-child(even) {
  border-top: none;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.provider__logo {
  display: flex;
}
.provider__logo img {
  width: 30px !important;
  height: 30px !important;
}
.provider__name {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
  transition: all 0.3s ease;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.provider__name span {
  text-align: right;
  color: #ebf8ff;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  padding: 0 8px;
  border-radius: 10px;
  background: #105dcf;
}
